@import "../abstracts/_variables.scss";

.content-overflow {
  width: 100%;
  padding: 2rem;
}

// FORM AVATAR PHOTO

.form-avatar__photo {
  padding: 3rem;
  background-color: $color-darkgray;
  float: right;
}