@import "../abstracts/_variables.scss";

.footer__inner {
  // common style for both vibe app and normal website
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content:center;
}

.footer__help {
  margin-right: auto;
  padding: 1.6rem 4rem;

}

// SAVE Button -- not in the btn system
.footer__save {
  margin-left: auto;
  padding: 1.6rem 4rem;
}

// Footer message for website

.footer__website {
  text-align:center;
  p {
    text-align:center;
    margin:auto;

  }
}