@import "../abstracts/_variables.scss";

// INPUT TEXT

.form-style-input-text {
margin-top: 0.5rem;
  label {
    width: 100%;

    input {
      padding: 0.5rem 1rem;
      max-width: 500px;
      border: 1px solid $color-darkgray;
    }
  }


}