@import "../abstracts/_variables.scss";

/* 
BROWSE VIBES CAROUSEL
*/

.vibes-carousel {
    border-left: 2px solid $color-primary;
    padding-left: 3rem;
    margin: 3rem auto 3rem auto;
    position: relative;

    @media (max-width: 900px) {
      border-left: 0px;
      padding: 0px;
    }
}

.metti-qui-il-carousel {
    background-color: $color-lightgray;
    width: 100%;
    padding: 1rem 3rem 3rem 1rem;
    position:relative;

    @media (max-width: 900px) {
      padding: 2rem 0px;

      p {
        padding: 0 2rem;
      }
    }
}


/* Style from flickity example */

.carousel {
  background-color: transparent;
}
  
  .carousel-cell {
    width: 33%;
    min-width: 350px;
    height: auto;
    margin-right: 2rem;
    padding: 0rem 0;

    .vibes-card {
      border-radius: 15px;
    }


    &:nth-child(even) {
      margin-top: 2rem;
    }

 
  }
  

  