@import "../abstracts/_variables.scss";

/* HERO BANNER */

.hero-banner {
    max-width: 1200px;
    margin: 0 auto 2rem auto;
    display: flex;
    position:relative;
    height: 400px;
    background-color: #f4f4f4;
    

    &.hero-banner--dark {
        background-color: #EBE1EC;
    }

    &.hero-banner--vibes{
        background-color: #E1E6EC;
    }

}

        .hero-banner__content {
            padding:2rem;
            display: flex;
            align-items:center;
            justify-content:center;
            position:relative;
            z-index:2;

            @media (max-width: 800px) {
                width:100%;
            }

            h1 {
                margin-top: 0px;
            }
        }


        .hero-banner__illustration {
            position: relative;
            img {
                position: absolute;
                height: 100%;
            }

            .img-atoms {
                position: absolute;
                top: 0px;
                right: 50px;
            }
            .img-beans-right {
                top: 100px;
                right: 100px;
            }
            .img-beans-left {
                top: 0px;
                left: 0px;
                right: auto;
                margin-left: -450px;
            }


            @media (max-width: 800px) {
                display: none;
            }
                }


       .bg-stilish {
        font-size: 16vw;
        color: #3F00FF;
        position: absolute;
        top: -150px;
        right: 20px;
       }