@import "../abstracts/_variables.scss";

/* 
VIBE LAYOUT
*/

.vibe-grid {
display: flex;
max-width:1200px;
align-items: center;
justify-content:Center;


ul {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;

    li {
        width: 29%;
        list-style: none;
        margin: 2%;
        padding:0;

        &:nth-child(2), &:nth-child(5), &:nth-child(8), &:nth-child(11), &:nth-child(14), &:nth-child(17) {
            margin-top: 3rem;
        }

        @media (max-width: 960px) {
            width: 46%;
            margin: 2% 2%;
                &:nth-child(2), &:nth-child(5), &:nth-child(8), &:nth-child(11), &:nth-child(14), &:nth-child(17) {
                    margin: 2% 2%;
                }
        }
    }
}
}



/* 
VIBE LAYOUT
*/

.vibe-card {
    width:100%;
    background-color: black;
    padding: 4rem 2rem;
    border-radius: 10px;
    position:relative;
    height: 300px;
    display: block;
    transition: all 0.1s ease;

    &:hover {
        cursor: pointer;
        scale: 1.05;
        transition: all 0.3s ease;
    }

    a {
        width:100%;
        height: 100%;
        text-decoration: none;
        display: block;

            .vibe-card__sub {
                text-decoration: none;
                width:100%;
                color: #ccc;
                font-size: 0.8em;
                letter-spacing: 0.08em;
            }

            .vibe-card__title {
                text-decoration: none;
                width:100%;
                color: white;
            }
            .vibe-card__number {
                text-decoration: none;
                width:100%;
                color: #ccc;
                position:relative;
                font-size: 0.8em;
                margin-left: 40px;

                &:after {
                    content:'';
                    width: 40px;
                    height: 3px;
                    background-color: #ccc;
                    display: block;
                    position: absolute;
                    left: -50px;
                    top: 6px;
                }
            }
    }

}

/* VIBE EXPANDED */
.beta-message {
    display: none;
}
.vibe--expanded {
    position: fixed;
    width: auto;
    height: auto;
    top: 10%;
    right: 20%;
    bottom: 10%;
    left: 20%;
    border-radius: 0;
    z-index: 9999999;
    background-color: black;
    cursor: default;

    transition: all 0.6s ease;

    a {
        display: none;
    }

    .beta-message {
        display: block;
    }
}
  
/* WHITEKNIGHT */

.whiteknight {
    display: none;

    position: fixed;
    width: auto;
    height: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 0;
    z-index: 999999;
    opacity: 0.9;
    background-color: white;
}

.noscroll {
    overflow-y: hidden;
}
  

/* ALL STYLES */ 



.style-1 {
    background-color:#f8381b;

    a {
        .vibe-card__sub, .vibe-card__number, .vibe-card__number:after,  .vibe-card__title   {
            color: #e7d4d4;
        }

        .vibe-card__number:after {
            background-color: #e7d4d4;
        }
    }

}


.style-2 {
    background-color: #6316fd;

    a {
        .vibe-card__sub, .vibe-card__number, .vibe-card__number:after,  .vibe-card__title   {
            color: #e0d5de;
        }

        .vibe-card__number:after {
            background-color: #e0d5de;
        }
    }

}


.style-3 {
    background-color: #950b08;

    a {
        .vibe-card__sub, .vibe-card__number, .vibe-card__number:after,  .vibe-card__title  {
            color: #e4be25;
        }

        .vibe-card__number:after {
            background-color: #e4be25;
        }
    }

}

.style-4 {
    background-color:rgb(149,12,133);

    a {
        .vibe-card__sub, .vibe-card__number, .vibe-card__number:after,  .vibe-card__title   {
            color: rgb(251,191,28);
        }

        .vibe-card__number:after {
            background-color: rgb(251,191,28);
        }
    }

}


.style-5 {
    background-color:#e4be25;

    a {
        .vibe-card__sub, .vibe-card__number, .vibe-card__number:after,  .vibe-card__title   {
            color:#ab3503;
        }

        .vibe-card__number:after {
            background-color: #ab3503;
        }
    }

}


.style-6 {
    background-color:#37e0dd;

    a {
        .vibe-card__sub, .vibe-card__number, .vibe-card__number:after,  .vibe-card__title   {
            color: #8e2b86;
        }

        .vibe-card__number:after {
            background-color: #8e2b86;
        }
    }

}


.style-7 {
    background-color: #e50461;

    a {
        .vibe-card__sub, .vibe-card__number, .vibe-card__number:after,  .vibe-card__titl {
            color: #d7c4ca;
        }

        .vibe-card__number:after {
            background-color: #d7c4ca;
        }
    }

}

