@import "../abstracts/_variables.scss";

/* 
SKETCH SQUARE EFFECT
*/

$square-size: 10px;
$square-space: calc($square-size / 2);
.square {
    position: absolute;
    display: block;
    width: $square-size;
    height: $square-size;
    border: 1px solid #ccc;
    background-color: white;
}


// top

.square--top-left {
    left: -5px;
    top: -5px;
}

.square--top-middle {
    left: 50%;
    top: -5px;
    margin-left: -5px;
}
 
.square--top-right {
    right: -5px;
    top: -5px;
}


// Bottom
.square--bottom-left {
    left: -5px;
    bottom: -5px;
}

.square--bottom-middle {
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
}
 
.square--bottom-right {
    right: -5px;
    bottom: -5px;
}