@import "../abstracts/_variables.scss";

/* ==========================================================================
   Button library
   ========================================================================== */


/* Basic button styles */
.btn {
	font-size: 0.8em;
	letter-spacing: 0.05em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	padding: 1rem 2rem;
	border-radius: 40px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
  	background-color: $color-primary;
  	color: $color-lightgray;
	  cursor: pointer;
	  
	  @media (max-width: 500px) {
		font-size: 0.6em;
		letter-spacing: 0.05em;
		padding: 0.5rem 1rem;
	  }
}

/* Basic button styles */
.btn-square {
	font-size: 0.8em;
	letter-spacing: 0.05em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	// -webkit-backface-visibility: hidden;
	// -moz-osx-font-smoothing: grayscale;
  background-color: $color-primary;
  color: $color-lightgray;
  cursor: pointer;
}

.btn:focus {
	outline: none;
}



/* JUST TEXT */
.btn--just-text {
  background-color: transparent;
  color: $color-black;
  position:relative;

  &:hover {
	color: $color-primary;
  }

}



/* ANIMATION ON PRIMARY BUTTON */
.btn--animate {
  background-color: $color-primary;
  color: $color-white;
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.btn--animate::before,
.btn--animate::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn--animate::before {
	background: black;
}
.btn--animate::after {
  background-color: $color-primary;
}
.btn--animate:hover {
  color: $color-white;
}
.btn--animate:hover::before,
.btn--animate:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.btn--animate:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}


/* PRIMARY BUTTON */ 

.btn--primary {

}

/* GHOST BUTTON */ 

.btn--ghost {
	border-radius: 40px;
	text-decoration: none;
	text-transform: uppercase;

	background-color: transparent;
	color: $color-primary;
	border: 2px solid $color-primary;
}